[user]
    email = evanallan1026@gmail.com
    name = Evan Allan
    signingkey = 50DA6BC3773E802A
[status]
    color = always
[push]
    default = matching
[color]
    diff = always
    ui = true
[core]
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d %Cgreen(%cr) %C(bold blue)<%an>%Creset %s' --abbrev-commit
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[commit]
    gpgsign = true
